<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'itshop/base.html' %}
     {% load custom_filter %}
      {% load cart %}
      {% block title %} Home {% endblock %}
       {% block content %}
       {% if user.is_authenticated %}
       Hi {{ user.username }}!
       {% else %}
       <p>Opps! You Are Not Logged in</p>
       <a href="{% url 'login' %}">Log In</a>
       {% endif %}
       {% endblock %}
    
</body>
</html>